.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.main {
  background-color: #1D6899;
}

.secondary {
  background-color: #26BDCC;
}


body{
  background-color: #F4F5F7;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', 'sans-serif';
}

.oswald {
  font-family: 'Oswald', monospace;
}


#imgLogo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem auto;
  width: 120px;
  height: 120px;
  visibility: visible;
}

.themeLink {
  color: #26BDCC;
}

.devPerfil {
  padding: 2em;
}

.devImg {
  height: 20em;
}

.bigFont {
  font-size: 4em;
}

.simple {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.otto {
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.waves-effect.waves-lime .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
   background-color: rgba(192, 202, 51, 0.65);
 }

 @media screen and (max-width: 1439px) {
  #imgLogo {
    visibility: hidden;
  }
}

 @media screen and (max-width: 1439px) {
  #imgLogo {
    visibility: hidden;
  }

  .devPerfil {
    padding: 3em 0;
  }
}